<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-usabilla" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>UsabillaCordova</name>
  <js-module name="UsabillaCordova" src="www/Usabilla.js">
    <clobbers target="plugins.Usabilla" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="UsabillaCordova">
        <param name="android-package" value="com.cga.Usabilla" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity 
          android:configChanges="orientation|screenSize" 
          android:screenOrientation="portrait"
          android:name="com.cga.UsabillaActivity"
          android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">    
    </config-file>
    <source-file src="src/android/activity/UsabillaActivity.java" target-dir="src/com/cga"/>
    <source-file src="src/android/Usabilla.java" target-dir="src/com/cga" />
    <source-file src="src/android/activity/FakeR.java" target-dir="src/com/cga/usabilla"/>
    <source-file src="src/android/activity/usabilla_activity.xml" target-dir="res/layout"/>
    <framework src="src/android/usabilla.gradle" custom="true" type="gradleReference" />
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="UsabillaCordova">
        <param name="ios-package" value="UsabillaCordova" />
      </feature>
    </config-file>
    <dependency id="cordova-plugin-cocoapod-support"/>
    <dependency id="cordova-plugin-add-swift-support" version="1.7.2">
      <preference name="UseSwiftLanguageVersion" value="3.3" />
    </dependency>
    <pods-config ios-min-version="9.0" use-frameworks="true"/>
    <source-file src="src/ios/UsabillaCordova.swift" />
    <source-file src="src/ios/FeedbackController.swift" />
    <pod name="Usabilla" version="4.1.2" />
  </platform>
</plugin>