/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 @font-face {
    font-family: 'MiloOT';
    src: url('../fonts/MiloOT-Text.otf');
  }

  @font-face {
    font-family: 'MiloOT-Bold';
    src: url('../fonts/MiloOT-Bold.otf');
  }

  @font-face {
    font-family: 'MiloOT-Medi';
    src: url('../fonts/MiloOT-Medi.otf');
  }

 body {
    background-image: url('../img/background.png');
    background-size: 100%;
  }
  
  /* Can be used to apply style over whole page div
  .app {
      //text-align:center;
  }
   */
  .ub-title {
      height: 192px;
      width: 272px;
      color: #00A5C9;
      font-family: "MiloOT-Bold";
      font-size: 55px;
      font-weight: bold;
      letter-spacing: 0;
      margin-left: 30px;
      margin-top: 30px;
      line-height: 65px;
  }
  
  .ub-group {
      text-align:center;
      margin-top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
  }

  /* Can be used to apply style over form div
  .show-form {
      // text-align: center;
  }
  */
  .show-form .btn{
      color: #FFFFFF;
      font-family: "MiloOT-Medi";
      font-size: 19px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 19px;
      border-radius: 2px;
      background-color: #00A5C9;
      width: 334px;
      height: 48px;
  }

  /* Can be used to apply style over event div
  .event-group {
      // text-align: center; 
  }
  */
  
  .show-event {
      padding-top: 40px;
  }
  .show-event .event-input{
      color: #A6B5C3;
      font-family: "MiloOT";
      font-size: 19px;
      letter-spacing: 0;
      line-height: 19px;
      box-sizing: border-box;
      height: 48px;
      width: 186px;
      padding-left: 16px;
      margin-right: 16px;
      border: 1px solid #C8D2DA;
      border-radius: 2px;
      background-color: #FFFFFF;
  }
  .show-event .btn{
      color: #00A5C9;
      font-family: "MiloOT-Medi";
      font-size: 19px;
      font-weight: 500;
      letter-spacing: 0;
      text-align: center;
      box-sizing: border-box;
      height: 48px;
      width: 130px;
      border: 1px solid #00A5C9;
      border-radius: 2px;
      background-color: #FFFFFF;
  }
  
  .reset-event {
      padding-top: 16px;
  }
  .reset-event .btn{
      color: #00A5C9;
      font-family: "MiloOT-Medi";
      font-size: 19px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 19px;
      text-align: center;
      box-sizing: border-box;
      height: 48px;
      width: 334px;
      border: 1px solid #00A5C9;
      border-radius: 2px;
      background-color: #FFFFFF;
  }
  
  .footer {
      position: fixed;
      bottom: 0;
      margin-bottom: 40px;
      width: 100%;
      text-align: center;
  }
  
  .footer img {
   height: 50px;
   width: 83px;
  }
